@media screen and (max-width: 992px) {
    #oferta p{
        width: 80%;
    }
    
    #onas p {
        font-size: 3vw;
    }
    
        #oferta p {
        font-size: 3vw;
    }
    
        #misja p {
        font-size: 3vw;
    }
    
        #wspolpraca p {
        font-size: 3vw;
    }
    
        #kariera p {
        font-size: 3vw;
    }
    
        #kontakt p {
        font-size: 3vw;
    }
    h3 {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #header {
        height: 70vw;
        background-size: 130%;
    }
    
    #img-dzieci {
        background-size: 130%;
    }
    
    #img-oferta {
        background-size: 130%;
    }
    
    #img-kariera {
        background-size: 130%;
    }
    h1 {
        width: 30%;
    }

}

@media screen and (max-width: 786px) {
    
    #header {
        width: 100vw;
        height: 100vh;
        background-size: 250%;
    }
    
    #img-dzieci {
        background-size: 150%;
    }
    
    #img-oferta {
        background-size: 150%;
    }
    
    #img-kariera {
        background-size: 150%;
    }
    h1 {
        width: 40%;
        font-size: 24px;
    }
    
    p {
        font-size: 15px;
    }
    #mapa {
        height: 200px;
    }
    
    #dextra-logo {
        top: 100px;
        background-size: 150%;
    }
    
    #formularz {
        width: 60%;
    }
    
    .circle-container {
        width: 60%;
    }
    
    #formularz input {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }
        #formularz textarea {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .napisz {
        width: 60%;
    }
    
    .collapse, .navbar-nav, .container-fluid {
        background-color: white;
    }
    #nav ul {
        background-color: white;
        display: inline;
        text-align: left;
    }
    #nav ul li a {
        text-align: left;
    }
    .dropdown-toggle {
    position: relative;
        left: 15px;
}
    .napisz, #formularz{
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .do-nas {
        width: 100%;
        margin-bottom: 10px;
    }
    
    #oferta .oferta p {
        font-size: 14px;
    }
    .logomale-full {
        display: none;
    }
    
    #kontakt p {
        font-size: 15px;
    }
    
    #kontakt p.mniejsze {
        font-size: 12px;
    }
    .logo-kancelarii {
        width: 70%;
    }
    #social {
        top: 20%;
    }
    
    #logo-kontakt {
        background-size: 150%;
    }
}